<h1 id="tableLabel">Add Run</h1>

<style>
  p {
    padding: 8px;
  }
</style>

<div class="form-row align-items-end">
  <div class="col-auto my-1">
    <label for="name">Name</label>
    <input type="text"
           size="48"
           class="form-control"
           id="name"
           required
           [(ngModel)]="promptName"
           name="name">
  </div>
  <div class="col-auto my-1">
    <label class="mr-sm-2" for="mode">Mode</label>
    <select class="custom-select mr-sm-2" id="mode" [(ngModel)]="promptMode" required>
      <option value="Standard">Standard</option>
      <option value="Limited Ammo">Limited Ammo</option>
      <option value="1 HP">1 HP</option>
    </select>
  </div>
</div>
<div class="form-row align-items-start" *ngIf="weapons">
  <div class="col-auto my-1">
    <label for="weap">Weapons</label>
    <textarea type="text" rows="4" cols="34" disabled class="form-control" id="weap" name="weap" [value]="listWeapon"></textarea>
  </div>
  <div class="col-md-4 my-1">
    <label class="mr-sm-2" for="type">Weapon Type</label>
    <select class="custom-select mr-sm-2" id="type" [(ngModel)]="promptWeaponType" required>
      <option value="Pistol (Automatic)">Pistol (Automatic)</option>
      <option value="Pistol (Revolver)">Pistol (Revolver)</option>
      <option value="Pistol (Machine Pistol)">Pistol (Machine Pistol)</option>
      <option value="Pistol (Breach Loading)">Pistol (Breach Loading)</option>
      <option value="Pistol (Lever Action)">Pistol (Lever Action)</option>
      <option value="Shotgun (Break Action)">Shotgun (Break Action)</option>
      <option value="Shotgun (Tube Fed)">Shotgun (Tube Fed)</option>
      <option value="Shotgun (Magazine Fed)">Shotgun (Magazine Fed)</option>
      <option value="Shotgun (Lever Action)">Shotgun (Lever Action)</option>
      <option value="SMG/Rifle (SMG)">SMG/Rifle (SMG)</option>
      <option value="SMG/Rifle (PDW)">SMG/Rifle (PDW)</option>
      <option value="SMG/Rifle (Lever Action)">SMG/Rifle (Lever Action)</option>
      <option value="SMG/Rifle (Bolt Action)">SMG/Rifle (Bolt Action)</option>
      <option value="SMG/Rifle (Carbine)">SMG/Rifle (Carbine)</option>
      <option value="SMG/Rifle (Assault Rifle)">SMG/Rifle (Assault Rifle)</option>
      <option value="SMG/Rifle (Battle Rifle)">SMG/Rifle (Battle Rifle)</option>
      <option value="SMG/Rifle (Anti-Material)">SMG/Rifle (Anti-Material)</option>
      <option value="Support (Grenade)">Support (Grenade)</option>
      <option value="Support (Machine Gun)">Support (Machine Gun)</option>
      <option value="Support (Ordnance)">Support (Ordnance)</option>
      <option value="Melee (Tactical)">Melee (Tactical)</option>
      <option value="Melee (Improvised)">Melee (Improvised)</option>
      <option value="Melee (Garage Tool)">Melee (Garage Tool)</option>
      <option value="Melee (Power Tool)">Melee (Power Tool)</option>
      <option value="Melee (Medieval)">Melee (Medieval)</option>
      <option value="Melee (Shield)">Melee (Shield)</option>
      <option value="Melee (Farm Tool)">Melee (Farm Tool)</option>
      <option value="Melee (Goofy)">Melee (Goofy)</option>
    </select>

    <label class="mr-sm-2" for="weaponlist">Weapon List</label>
    <select class="custom-select mr-sm-2" id="weaponlist" [(ngModel)]="AddWeapon" required>
      <option *ngFor="let weapon of listWeaponsByType(promptWeaponType)" [value]="[weapon.name]">{{ weapon.name }}</option>
    </select>
  </div>
  <style>
    input[type=number]
    {
    width: 86px;
    } 
  </style>
  <div class="col-auto my-1">
    <label for="quan">Quantity</label>
    <input type="number"
           class="form-control"
           id="quan"
           value="1"
           placeholder="1"
           required
           [(ngModel)]="quan"
           name="quan">
    <p></p>
    <style>
      span {
        padding-left: 2px;
        padding-right: 2px;
      }
    </style>
    <button class="btn btn-primary" id="addButton" (click)="addWeapon(AddWeapon,quan)" role="button">+</button>
    <span></span>
    <span></span>
    <button class="btn btn-primary" id="addButton" (click)="delWeapon()" role="button"><span>-</span></button>
  </div>
</div>
<div class="form-row align-items-start" *ngIf="attachments">
  <div class="col-auto my-1">
    <label for="attach">Attachments</label>
    <textarea type="text" rows="4" cols="34" class="form-control" id="attach" name="attach">{{ listAttachment }}</textarea>
  </div>
  <div class="col-auto my-1">
    <label class="mr-sm-2" for="attachList">Attachment List</label>
    <select class="custom-select mr-sm-2" id="attachList" [(ngModel)]="AddAttachment" required>
      <option *ngFor="let attachment of attachments" [value]="[attachment.name]">{{ attachment.name }}</option>
    </select>
  </div>
  <div class="col-auto my-1">
    <p></p>
    <button class="btn btn-primary" id="addButton2" (click)="addAttachment(AddAttachment)" role="button">+</button>
  </div>
</div>
<div class="form-row align-items-end">
  <div class="col-auto my-1">
    <label for="rules">Rules</label>
    <textarea type="text" rows="4" cols="50" class="form-control" id="rules" [(ngModel)]="promptRules" name="rules">
      </textarea>
  </div>
</div>

<div class="form-row align-items-end">
  <div class="col-auto my-1">
    <a class="btn btn-primary" (click)="addRun(promptName,listWeapon,listAttachment,promptMode,promptRules)" href="/run-management/list" role="button">Add Run Variant</a>
  </div>
</div>

