<h1 id="tableLabel">Add Weapons and Attachments</h1>

<style>
  p {
    padding-bottom: 8px;
    padding-top: 8px;
  }
</style>

<p></p>

<div class="form-row align-items-end">

  <div class="col-auto my-1">
    <label class="mr-sm-2" for="type">Weapon Type</label>
    <select class="custom-select mr-sm-2" id="type" [(ngModel)]="promptWeaponType" required>
      <option value="Pistol (Automatic)">Pistol (Automatic)</option>
      <option value="Pistol (Revolver)">Pistol (Revolver)</option>
      <option value="Pistol (Machine Pistol)">Pistol (Machine Pistol)</option>
      <option value="Pistol (Breach Loading)">Pistol (Breach Loading)</option>
      <option value="Pistol (Lever Action)">Pistol (Lever Action)</option>
      <option value="Shotgun (Break Action)">Shotgun (Break Action)</option>
      <option value="Shotgun (Tube Fed)">Shotgun (Tube Fed)</option>
      <option value="Shotgun (Magazine Fed)">Shotgun (Magazine Fed)</option>
      <option value="Shotgun (Lever Action)">Shotgun (Lever Action)</option>
      <option value="SMG/Rifle (SMG)">SMG/Rifle (SMG)</option>
      <option value="SMG/Rifle (PDW)">SMG/Rifle (PDW)</option>
      <option value="SMG/Rifle (Lever Action)">SMG/Rifle (Lever Action)</option>
      <option value="SMG/Rifle (Bolt Action)">SMG/Rifle (Bolt Action)</option>
      <option value="SMG/Rifle (Carbine)">SMG/Rifle (Carbine)</option>
      <option value="SMG/Rifle (Assault Rifle)">SMG/Rifle (Assault Rifle)</option>
      <option value="SMG/Rifle (Battle Rifle)">SMG/Rifle (Battle Rifle)</option>
      <option value="SMG/Rifle (Anti-Material)">SMG/Rifle (Anti-Material)</option>
      <option value="Support (Grenade)">Support (Grenade)</option>
      <option value="Support (Machine Gun)">Support (Machine Gun)</option>
      <option value="Support (Ordnance)">Support (Ordnance)</option>
      <option value="Melee (Tactical)">Melee (Tactical)</option>
      <option value="Melee (Improvised)">Melee (Improvised)</option>
      <option value="Melee (Garage Tool)">Melee (Garage Tool)</option>
      <option value="Melee (Power Tool)">Melee (Power Tool)</option>
      <option value="Melee (Medieval)">Melee (Medieval)</option>
      <option value="Melee (Shield)">Melee (Shield)</option>
      <option value="Melee (Farm Tool)">Melee (Farm Tool)</option>
      <option value="Melee (Goofy)">Melee (Goofy)</option>
    </select>
  </div>
  <div class="col-auto my-1">
    <label for="weapon">Weapon Name</label>
    <input type="text"
           size="48"
           class="form-control"
           id="weapon"
           required
           [(ngModel)]="promptWeapon"
           name="weapon">
  </div>
  <div class="col-auto my-1">
    <a class="btn btn-primary" (click)="addWeapon(promptWeapon,promptWeaponType)" href="/run-management/weapons" role="button">Add Weapon</a>
  </div>
</div>

<p></p>

<div class="form-row align-items-end">
  <div class="col-auto my-1">
    <label for="attachment">Attachment Name</label>
    <input type="text"
           size="48"
           class="form-control"
           id="attachment"
           required
           [(ngModel)]="promptAttach"
           name="attachment">
  </div>
  <div class="col-auto my-1">
    <a class="btn btn-primary" (click)="addAttachment(promptAttach)" href="/run-management/weapons" role="button">Add Attachment</a>
  </div>
</div>

