<h1 id="tableLabel">Edit Run</h1>

<p *ngIf="!run"><em>Loading...</em></p>

<style>
  p {
    padding-bottom: 10px;
    padding-top: 10px;
  }
</style>

<p></p>
<div *ngIf="run">
  <div class="form-row align-items-start">
    <div class="col-auto my-1">
      <label for="name">Name</label>
      <input type="text"
             class="form-control"
             id="name"
             required
             [(ngModel)]="run.name"
             name="name">
    </div>

    <div class="col-auto my-1">
      <label class="mr-sm-2" for="mode">Mode</label>
      <select class="custom-select mr-sm-2" required [(ngModel)]="run.mode" id="mode">
        <option selected>Mode</option>
        <option value="Standard">Standard</option>
        <option value="Limited Ammo">Limited Ammo</option>
        <option value="1 HP">1 HP</option>
      </select>
    </div>

    <div class="col-auto my-1">
      <label for="weapons">Weapons</label>
      <textarea type="text" class="form-control" id="weapons" required [(ngModel)]="run.weapons" name="weapons">
      </textarea>
    </div>

    <div class="col-auto my-1">
      <label for="attachments">Attachments</label>
      <textarea type="text" class="form-control" id="attachments" [(ngModel)]="run.attachments" name="attachments">
      </textarea>
    </div>

    <div class="col-auto my-1">
      <label for="rules">Rules</label>
      <textarea type="text" class="form-control" id="rules" [(ngModel)]="run.rules" name="rules">
      </textarea>
    </div>
  </div>
  <div class="form-row align-items-end">
    <div class="col-auto my-1">
      <a class="btn btn-primary" (click)="editRun()" href="/run-management/list" role="button">Submit Edit</a>
    </div>
    <div class="col-auto my-1">
      <a class="btn btn-primary" [routerLink]="['/run-management/delete', run.id]" role="button">Delete Variant</a>
    </div>
  </div>
</div>
<p></p>
<h3>Score History for {{run.name}}</h3>
<p *ngIf="!run&&!scores"><em>Loading...</em></p>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="run&&scores">
  <thead>
    <tr>
      <th>Run Type</th>
      <th>Hero</th>
      <th>Score</th>
      <th>Date of Run</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let score of filterScoresByRun()">
      <td><a [routerLink]="['/run-management/edit', score.event.id]">{{ score.event.name }}</a></td>
      <td><a [routerLink]="['/hero-managment/edit', score.hero.id]">{{ score.hero.name }}</a></td>
      <td>{{ score.scoreGot }}</td>
      <td>{{ score.created | date:'MM/dd/yyyy' }}</td>
    </tr>
  </tbody>
</table>

