<h1 id="tableLabel">Administration</h1>


<div>
  <h3>Heroes</h3>
  <ul class="navbar-nav flex-grow">
    <li class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link text" [routerLink]="['/hero-managment/list']">List</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link text" [routerLink]="['/hero-managment/add']">Add</a>
    </li>
  </ul>
</div>

<div>
  <h3>Events</h3>
  <ul class="navbar-nav flex-grow">
    <li class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link text" [routerLink]="['/run-management/list']">List</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link text" [routerLink]="['/run-management/add']">Add</a>
    </li>
  </ul>
</div>
