<h1 id="tableLabel">Runs</h1>

<p>List of all run variants.</p>

<div class="form-row align-items-end">
  <div class="col-auto my-1">
    <div>
      <a class="btn btn-primary" href="/run-management/add" role="button"> Add Run </a>
    </div>
  </div>
  <div class="col-auto my-1">
    <div>
      <a class="btn btn-primary" href="/run-management/weapons" role="button"> Add Weapon or Attachment </a>
    </div>
  </div>
</div>

<p></p>

<p *ngIf="!runList"><em>Loading...</em></p>

<table class='table table-striped table-sm' aria-labelledby="tableLabel" *ngIf="runList">
  <thead>
    <tr>
      <th>Name</th>
      <th>Weapons</th>
      <th>Attachments</th>
      <th>Mode</th>
      <th>Rules</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let run of runList">
      <td><a [routerLink]="['/run-management/edit', run.id]">{{ run.name }}</a></td>
      <td>{{ run.weapons }}</td>
      <td>{{ run.attachments }}</td>
      <td>{{ run.mode }}</td>
      <td>{{ run.rules }}</td>
      <td>{{ run.created | date:'MM/dd/yyyy' }}</td>
    </tr>
  </tbody>
</table>
