<h1 id="tableLabel">Submit Score</h1>

<div class="form-row align-items-end">

  <div *ngIf="heroes">
    <div class="col-auto my-1">
      <label for="hero">Hero</label>
      <select class="custom-select mr-sm-2" name="hero" type="number" id="hero" [(ngModel)]="promptHero" required>
        <option *ngFor="let hero of heroes" [value]="[hero.id]">{{ hero.name }}</option>
      </select>
    </div>
  </div>
  <div *ngIf="events">
    <div class="col-auto my-1">
      <label for="event">Run Type</label>
      <select class="custom-select mr-sm-2" name="event" id="event" type="number" [(ngModel)]="promptEvent" required>
        <option *ngFor="let event of events" [value]="[event.id]">{{ event.name }}</option>
      </select>
    </div>
  </div>
  <div class="col-auto my-1">
    <label for="score">Score</label>
    <input type="number"
           class="form-control"
           id="score"
           required
           [(ngModel)]="promptScore"
           name="score">
  </div>

  <div class="col-auto my-1">
    <a class="btn btn-primary" (click)="addScore(promptHero,promptEvent,promptScore)" href="/score-management/add" role="button">Submit Score</a>
  </div>
</div>

