a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: #C30A0A;
}

span.navbar-toggler-icon
{
    color: #fff;
    display: inline-block;
}

button {
  background-color: #363636;
}
button:hover
{
    background-color: #C30A0A;
}

a.navbar-brand:hover
{
    color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #232323;
}

li {
  float: left;
}

  li a {
  display: block;
  color: #C30A0A;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: #fff;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  color: #C30A0A;
}
