<h1>Scoreboards</h1>

<h3>Recent Runs (last {{fetchRecent}} runs)</h3>
<p *ngIf="!heroes&&!events&&!scores"><em>Loading...</em></p>
<table class='table table-striped table-sm' *ngIf="heroes&&events&&scores">
  <thead>
    <tr>
      <th>Run Type</th>
      <th>Hero</th>
      <th>Score</th>
      <th>Date of Run</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let score of fetchRecentScores()">
      <td><a [routerLink]="['/run-management/edit', score.event.id]">{{ score.event.name }}</a></td>
      <td><a [routerLink]="['/hero-managment/edit', score.hero.id]">{{ score.hero.name }}</a></td>
      <td>{{ score.scoreGot }}</td>
      <td>{{ score.created | date:'MM/dd/yyyy' }}</td>
    </tr>
  </tbody>
</table>

<h3>Sort Runs</h3>
<p *ngIf="!heroes&&!events&&!scores"><em>Loading...</em></p>
<table class='table table-striped table-sm' *ngIf="heroes&&events&&scores">
  <thead>
    <tr>
      <th><button class="btn btn-primary" role="button" (click)="sortByColumn('event')">Run Type</button></th>
      <th><button class="btn btn-primary" role="button" (click)="sortByColumn('hero')">High Score Holder</button></th>
      <th><button class="btn btn-primary" role="button" (click)="sortByColumn('score')">Score</button></th>
      <th><button class="btn btn-primary" role="button" (click)="sortByColumn('date')">Date of Run</button></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let score of (sortedScores)">
      <td><a [routerLink]="['/run-management/edit', score.event.id]">{{ score.event.name }}</a></td>
      <td><a [routerLink]="['/hero-managment/edit', score.hero.id]">{{ score.hero.name }}</a></td>
      <td>{{ score.scoreGot }}</td>
      <td>{{ score.created | date:'MM/dd/yyyy' }}</td>
    </tr>
  </tbody>
</table>

<h3>High Scores</h3>
<p *ngIf="!heroes&&!events&&!scores"><em>Loading...</em></p>
<table class='table table-striped table-sm' aria-labelledby="tableLabel" *ngIf="heroes&&events&&scores">
  <thead>
    <tr>
      <th>Run Type</th>
      <th>Hero</th>
      <th>Score</th>
      <th>Date of Run</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of events">
      <td><a [routerLink]="['/run-management/edit', event.id]">{{ event.name }}</a></td>
      <td><a [routerLink]="['/hero-managment/edit', calcHighScoreHolder(event).hero.id]">{{ calcHighScoreHolder(event).hero.name }}</a></td>
      <td>{{ calcHighScoreHolder(event).scoreGot }}</td>
      <td>{{ calcHighScoreHolder(event).created | date:'MM/dd/yyyy' }}</td>
    </tr>
  </tbody>
</table>
