<h1 id="tableLabel">Delete Hero</h1>

<p *ngIf="!hero"><em>Loading...</em></p>

<div *ngIf="hero">
  <p>Pressing confirm on this form will delete this hero <strong>FOREVER!</strong> Do not use unless you want to remove all history of hero!</p>
  <table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ hero.name }}</td>
        <td>{{ hero.id }}</td>
        <td>{{ hero.created | date:'MM/dd/yyyy' }}</td>
      </tr>
    </tbody>
  </table>
  <div class="form-row align-items-end">
    <div class="col-auto my-1">
      <a class="btn btn-primary" href="/hero-managment/list" role="button"> Cancel </a>
    </div>
    <div class="col-auto my-1">
      <a class="btn btn-primary" href="/hero-managment/list" (click)="deleteHero()" role="button"> Confirm Delete </a>
    </div>
  </div>
  <!--<div class="form-group">
    <label for="name">Name</label>
    <input type="text"
           class="form-control"
           id="name"
           required
           disabled
           [(ngModel)]="hero.name"
           name="name">
  </div>

  <div class="form-group">
    <label for="id">Id</label>
    <input type="text"
           class="form-control"
           id="id"
           required
           disabled
           [(ngModel)]="hero.id"
           name="id">
  </div>

  <div class="form-group">
    <label for="created">Created</label>
    <input type="datetime"
           class="form-control"
           id="created"
           required
           disabled
           datetime="MM/dd/yyyy"
           [(ngModel)]="hero.created"
           name="created">
  </div>

  <div>
    <style>

      span {
        padding-left: 10px;
        padding-right: 10px;
      }
    </style>
    <a class="btn btn-primary" href="/hero-managment/list" role="button"> Cancel </a>
    <span></span>
    <a class="btn btn-primary" href="/hero-managment/list" (click)="deleteHero()" role="button"> Confirm Delete </a>
  </div>-->
</div>
