<h1 id="tableLabel">Delete Run</h1>

<p *ngIf="!run"><em>Loading...</em></p>

<div *ngIf="run">
  <p>Pressing confirm on this form will delete this run <strong>FOREVER!</strong> Do not use unless you want to remove all history of run!</p>
  <table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>Name</th>
        <th>Weapons</th>
        <th>Attachments</th>
        <th>Mode</th>
        <th>Rules</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ run.name }}</td>
        <td>{{ run.weapons }}</td>
        <td>{{ run.attachments }}</td>
        <td>{{ run.mode }}</td>
        <td>{{ run.rules }}</td>
        <td>{{ run.created | date:'MM/dd/yyyy' }}</td>
      </tr>
    </tbody>
  </table>
  <div class="form-row align-items-end">
    <div class="col-auto my-1">
      <a class="btn btn-primary" href="/run-management/list" role="button"> Cancel </a>
    </div>
    <div class="col-auto my-1">
      <a class="btn btn-primary" href="/run-management/list" (click)="deleteRun()" role="button"> Confirm Delete </a>
    </div>
  </div>
  <!--<div class="form-row align-items-end">
    <div class="col-auto my-1">
      <label for="weapons">Weapons</label>
      <input type="text"
             class="form-control"
             id="weapons"
             required
             disabled
             [(ngModel)]="run.weapons"
             name="weapons">
    </div>
    <div class="col-auto my-1">
      <label for="attachments">Attachments</label>
      <input type="text"
             class="form-control"
             id="attachments"
             required
             disabled
             [(ngModel)]="run.attachments"
             name="attachments">
    </div>
    <div class="col-auto my-1">
      <label class="mr-sm-2 sr-only" for="mode">Mode</label>
      <select class="custom-select mr-sm-2" required disabled [(ngModel)]="run.mode" id="mode">
        <option selected>Mode</option>
        <option value="Standard">Standard</option>
        <option value="Limited Ammo">Limited Ammo</option>
        <option value="1 HP">1 HP</option>
      </select>
    </div>
    <div class="col-auto my-1">
      <label for="rules">Rules</label>
      <input type="text"
             class="form-control"
             id="rules"
             required
             disabled
             [(ngModel)]="run.rules"
             name="rules">
    </div>
    <div class="col-auto my-1">
      <a class="btn btn-primary" href="/run-management/list" role="button"> Cancel </a>
    </div>
    <div class="col-auto my-1">
      <a class="btn btn-primary" href="/run-management/list" (click)="deleteRun()" role="button"> Confirm Delete </a>
    </div>
  </div>-->
</div>
