<h1 id="tableLabel">Heroes</h1>

<p>List of all heroes.</p>

<div>
  <a class="btn btn-primary" href="/hero-managment/add" role="button"> Add Hero </a>
</div>

<p></p>

<p *ngIf="!heroes"><em>Loading...</em></p>

<table class='table table-striped table-sm' aria-labelledby="tableLabel" *ngIf="heroes">
  <thead>
    <tr>
      <th>Name</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hero of heroes">
      <td><a [routerLink]="['/hero-managment/edit', hero.id]">{{ hero.name }}</a></td>
      <td>{{ hero.created | date:'MM/dd/yyyy' }}</td>
    </tr>
  </tbody>
</table>
