a {
  color: #C30A0A;
}

td
{
  white-space: pre-wrap
}

label
{
    color: #C30A0A;
}

input.form-control
{
    border-color: #000000;
}

button.btn-primary {
  border-color: #C30A0A;
}

button.btn-primary:hover {
  border-color: #E90C0C;
  background-color: #E90C0C
}

a.btn-primary {
  border-color: #C30A0A;
}

a.btn-primary:hover {
  border-color: #E90C0C;
  background-color: #E90C0C
}

a:hover {
  color: #E90C0C;
}

th {
  color: #fff;
}

td {
  color: #fff;
}

code {
  color: #C30A0A;
}

h1 {
  color: #C30A0A;
}

body {
  background-color: #232323
}

p {
  color: #fff;
}

ul {
  color: #fff;
}

.btn-primary {
  color: #fff;
  background-color: #232323;
  border-color: #1861ac;
}

h3 {
  color: #d9d9d9;
}
