<h1 id="tableLabel">Add Hero</h1>

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text"
           [(ngModel)]="promptInput"
           class="form-control"
           id="name"
           name="name">
  </div>
  <a class="btn btn-primary" (click)="addHero(promptInput)" href="/hero-managment/list" role="button">Add Hero</a>

