<h1 id="tableLabel">Edit Hero</h1>

<p *ngIf="!hero"><em>Loading...</em></p>

<style>
  p
  {
    padding-bottom: 10px;
    padding-top: 10px;
  }
</style>

<div *ngIf="hero">
  <div class="form-row">
    <div class="col-auto">
      <label for="name">Name</label>
      <input type="text"
             class="form-control"
             id="name"
             required
             [(ngModel)]="hero.name"
             name="name">
    </div>
    <div class="col-auto">
      <label for="id">Id</label>
      <input type="text"
             class="form-control"
             id="id"
             required
             disabled
             [(ngModel)]="hero.id"
             name="id">
    </div>
    <div class="col-auto">
      <label for="created">Created</label>
      <input type="datetime"
             class="form-control"
             id="created"
             required
             disabled
             datetime="MM/dd/yyyy"
             [(ngModel)]="hero.created"
             name="created">
    </div>
  </div>
  <p></p>
  <div>
    <style>

      span {
        padding-left: 10px;
        padding-right: 10px;
      }
    </style>
    <a class="btn btn-primary" (click)="updateHero()" href="/hero-managment/list" role="button">Save</a>
    <span></span>
    <a class="btn btn-primary" [routerLink]="['/hero-managment/delete', hero.id]" role="button"> Delete Hero </a>
  </div>

  <p></p>

  <h3>Score History for {{hero.name}}</h3>
  <p *ngIf="!hero&&!scores"><em>Loading...</em></p>
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="hero&&scores">
    <thead>
      <tr>
        <th>Run Type</th>
        <th>Hero</th>
        <th>Score</th>
        <th>Date of Run</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let score of filterScoresByHero()">
        <td><a [routerLink]="['/run-management/edit', score.event.id]">{{ score.event.name }}</a></td>
        <td><a [routerLink]="['/hero-managment/edit', score.hero.id]">{{ score.hero.name }}</a></td>
        <td>{{ score.scoreGot }}</td>
        <td>{{ score.created | date:'MM/dd/yyyy' }}</td>
      </tr>
    </tbody>
  </table>
</div>
